<% include partials/header %>
<main>
  <fieldset>
    <form action="/users/login" method="POST">
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input class="submit" type="submit" placeholder="submit" />
    </form>
  </fieldset>
  <h3 class="or">OR</h3>
  <section>
    <div class="google-login">
      <button class="btn">
        <a href="/auth/github">
          <i class="fab fa-github"></i>
          <span> Login with Github </span>
        </a>
      </button>
      <button class="btn">
        <a href="/auth/google">
          <i class="fab fa-google"></i>
          <span> Login with Google </span>
        </a>
      </button>
    </div>
  </section>
</main>
